/* Authorization */
.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.auth .auth-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: fit-content;
    width: fit-content;
    padding: 24px 32px;
    background-color: #fff;
    border-radius: 16px;
}

.auth .auth-popup input {
    height: fit-content;
    width: 200px;
    border: 1px solid #000;
    outline: none;
    padding: 8px;
    color: #000;
    border-radius: 16px;
    font-size: 20px;
}

.auth .auth-popup button {
    border: 1px solid #000;
    border-radius: 16px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #fff;
    transition: .5s;
}

.auth .auth-popup button:hover {
    background-color: #ccc;
}

/* Menu */
.menu {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.menu h1 {
    width: fit-content;
    color: #0f0;
    margin-bottom: 16px;
    font-style: italic;
    font-size: 48px;
    font-weight: bold;
    border-bottom: 4px solid #ff0;
}

.menu button {
    border: 4px solid #0f0;
    border-radius: 24px;
    background-color: #ff0;
    color: rgb(8, 112, 8);
    padding: 16px 32px;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    transition: .5s;
}

.menu button:hover {
    border-radius: 12px;
    border-color: #ff0;
    background-color: #0f0;
    color: #ff0;
}
